{% extends "mini/html.html" %}
{% block title %}404{% endblock %}
{% block content %}
{% load i18n %}
<section>
    <div class="container fw warning-bg">
        <div class="container">
            <div class="boxes fh space-top-bot align-items-center">
                <div class="box box-100">
                    <h1 class="center wh-text" style="font-size: 15vw; line-height: 0.8;">404</h1>
                    <p class="wh-text center big up-case italic">{% translate "page not found" %}</p>
                    <p class="center"><a href="{% url 'home' %}" class="btn wh-btn-bg">home</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}{% endblock %}
