{% extends "html.html" %}
{% block content %}
{% load i18n %}
<section id="content" class="container fw">
    <div class="container">
        <div class="boxes">
            {% if form %}
            <div class="box box-50 p-2">
                <form action="" method="post" class="m-0">
                    {% csrf_token %}
                    {{ form }}
                    <div class="boxes">
                        <div class="box box-100 p-0">
                            <input type="submit" value="{% if submit_button %}{{ submit_button }}{% else %}{% translate 'save'|capfirst %}{% endif %}" class="btn third-color-dark-btn-bg">
                        </div>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}