<div class="boxes">
    {% for field in form %}
    <div class="box box-100 p-0">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% if field.errors %}
    <div class="box box-100 danger-bg py-0 wh-text b-rad-5">
        {{ field.errors }}
    </div>
    {% endif %}
    {% if field.is_hidden %}
    {# Do something special #}
    {% endif %}
    {% endfor %}
</div>
